<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>applicatoin.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.quartz.core" level="INFO"/>
    <logger name="org.h2.server.web" level="INFO"/>

    <springProfile name="local">
        <logger name="io.honeymon.springboot.multimodule.admin" level="TRACE"/>
    </springProfile>

    <springProfile name="dev">
        <logger name="io.honeymon.springboot.multimodule.admin" level="DEBUG"/>
    </springProfile>

    <springProfile name="beta">
        <logger name="io.honeymon.springboot.multimodule.admin" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <logger name="io.honeymon.springboot.multimodule.admin" level="INFO"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender" />
    </root>
</configuration>